b/src/main/resources/b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
		
    <xs:include schemaLocation="classpath:schema.episode.a.xsd"/>

	<xs:element name="Address">
		<xs:complexType>
            <xs:sequence>
				<xs:element ref="person" />
                <xs:element ref="city" />
				<xs:element ref="postcode" />
            </xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="city" type="xs:string"/>
	<xs:element name="postcode" type="xs:string"/>
	
</xs:schema>